@model PlanoContaModel

@{
    ViewData["Title"] = "Plano de Contas";
    var vDescricao = string.Empty;
    var vTipo = string.Empty;

    try
    {
        vDescricao = @ViewBag.PlanoConta.Descricao;
        vTipo = @ViewBag.PlanoConta.Tipo;
    }
    catch
    {

    }
}


<h1>@ViewData["Title"]</h1>

<form asp-controller="PlanoConta" asp-action="CriarPlanoConta">
    <fieldset>
        <input type="hidden" asp-for="Id">

        <legend class="mt-2">Descrição: </legend>
        <div class="form-group mb-2">
            <input class="form-control" type="text" asp-for="Descricao" value=@vDescricao>
        </div>

        <legend class="mt-2">Tipo: </legend>
        @{
            if (vTipo == "D")
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Tipo" id="Tipo" value="R" asp-for="Tipo">
                    <label class="form-check-label" for="Tipo">
                        Receita
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Tipo" id="Tipo" value="D" checked="checked"
                asp-for="Tipo">
                    <label class="form-check-label" for="Tipo">
                        Despesa
                    </label>
                </div>
            }
            else
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Tipo" id="Tipo" value="R" checked="checked"
                asp-for="Tipo">
                    <label class="form-check-label" for="Tipo">
                        Receita
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Tipo" id="Tipo" value="D" asp-for="Tipo">
                    <label class="form-check-label" for="Tipo">
                        Despesa
                    </label>
                </div>
            }
        }

    </fieldset>
    <button type="submit" class="btn btn-block btn-success">Salvar</button>
    <button type="button" class="btn btn-block btn-secondary" onclick="Voltar()">Cancelar</button>
</form>

<script>
    function Voltar() {
        window.location.href = "/PlanoConta";
    }

</script>