@model PlanoContaModel

@{
    ViewData["Title"] = "Plano de Contas";
    var vDescricao = string.Empty;
    var vTipo = string.Empty;

    try
    {
        vDescricao = @ViewBag.PlanoConta.Descricao;
        vTipo = @ViewBag.PlanoConta.Tipo;
    }
    catch
    {

    }
}


<h1>@ViewData["Title"]</h1>

<form asp-controller="PlanoConta" asp-action="CriarPlanoConta">
    <input type="hidden" asp-for="Id">

    <label for="descricao">Descrição: </label>
    <input type="text" asp-for="Descricao" value=@vDescricao>

    <label for="descricao">Tipo: </label>
    <input type="text" asp-for="Tipo" value=@vTipo>

    <button type="submit" class="btn btn-block btn-success">Salvar</button>
    <button type="submit" class="btn btn-block btn-secondary" onclick="Voltar()">Cancelar</button>

</form>

<script>
    function Voltar() {
        window.location.href = "../PlanoConta";
    }
</script>